<main class="container my-5">

  <!-- Basic Example -->
  <div>
    <h2>Basic Example</h2>
    <p>This is the functionality out of the box, when including Bootstrap 4.x:</p>
    <%= heartwood_uploader %>
  </div>

</main>
